<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="brief">
            <a class="web-logo" href="#">
              <img src="../../../../assets/images/header/footer-logo.png" alt="">
            </a>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci repudiandae mollitia inventore ratione cum corrupti fugit nisi labore alias sit, asperiores culpa laboriosam. Dignissimos, eveniet. Necessitatibus fugiat nesciunt mollitia quas?</p>
             <span>
                <fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Read More</a>
            </span>
          </div>
        </div>
        <div class="col-md-4 help-col">
          <div class="helpful">
            <h4>Helpful Links</h4>
            <div class="row">
              <div class="col">
                <ul class="list-unstyled">
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">About</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Portofolio</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Team</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Price</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Privacy</a></li>
                </ul>
              </div>
              <div class="col">
                <ul class="list-unstyled">
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">FAQ</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Blog</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">How It Work</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Benefits</a></li>
                  <li><fa-icon [icon]="['fas' , 'link']"></fa-icon><a href="">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 contact-col">
          <h4>Contact Us</h4>
          <div class="contact">
            <p>54698A Anas Rafat,EG</p>
            <p>Phone: <a href="tel:01012345567">01012345567</a></p>
            <p>Email: <a href="mailto:anasrafat312@gmail.com?subject"Contact>anasrafat312@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="row copyright">
        <div class="col-sm-12 col-md-8 text-center text-md-left text-uppercase">
          <p>copyright 2023 <span>Anas Market</span> &copy; all right reserved</p>
        </div>
        <div class="col-sm-12 col-md-4 text-center text-md-right">
          <ul class="list-unstyled">
            <li>
                <a href="#"><fa-icon [icon]="['fab' , 'facebook']" class="footer-icon"></fa-icon></a>
            </li>
            <li>
                <a href="#"><fa-icon [icon]="['fab' , 'twitter']" class="footer-icon"></fa-icon></a>
            </li>
            <li>
                <a href="#"><fa-icon [icon]="['fab' , 'youtube']" class="footer-icon"></fa-icon></a>
            </li>
            <li>
                <a href="#"><fa-icon [icon]="['fab' , 'google-plus']" class="footer-icon"></fa-icon></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>